<% if (locals.user) { %>
		<li><span class='name'><%= user.name %></span></li>
		<li><a href='/logout'><h1>logout</h1></a></li>
<% } else { %>
		<li><a href='/login'>Login</a></li>
		<li><a href='/reg'>Register</a></li>
<% } %>