<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">facetalk</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% include menu %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    <% if (locals.user) { %>
      <% include RegisterContent.ejs %>
    <% } else { %>
      <% include unRegisterContent.ejs %>
    <% } %>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/bootstrap/js/transition.js"></script>
    <script src="components/bootstrap/js/alert.js"></script>
    <script src="components/bootstrap/js/modal.js"></script>
    <script src="components/bootstrap/js/dropdown.js"></script>
    <script src="components/bootstrap/js/scrollspy.js"></script>
    <script src="components/bootstrap/js/tab.js"></script>
    <script src="components/bootstrap/js/tooltip.js"></script>
    <script src="components/bootstrap/js/popover.js"></script>
    <script src="components/bootstrap/js/button.js"></script>
    <script src="components/bootstrap/js/collapse.js"></script>
    <script src="components/bootstrap/js/carousel.js"></script>
    <script src="components/typeahead.js/src/typeahead/typeahead.js"></script>

  </body>
</html>
